@font-face {
  font-family: Iransans;
  font-style: normal;
  font-weight: 300;
  src: url("IRANSansWeb(FaNum)_Light.eot");
  src: url("IRANSansWeb(FaNum)_Light.eot@#iefix") format("embedded-opentype"), url("IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("IRANSansWeb(FaNum)_Light.woff") format("woff"), url("IRANSansWeb(FaNum)_Light.ttf") format("truetype"); }

  body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  /*background-repeat: repeat-x;*/
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header {
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 0;
}
#header img {
  margin: 0 auto;
  display: block;
}

#header p{
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px 0;
}

.fadeIn{
  -webkit-animation: fadeIn 2s linear;
  animation: fadeIn 2s linear;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 20px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 20px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

.moveTop{
  -webkit-animation: moveTop 2s linear forwards;
  animation: moveTop 2s linear forwards;
}

@-webkit-keyframes moveTop {
  from {
    margin-top: 70px;
  }

  to {
    margin-top: 0px;
  }
}

@keyframes moveTop {
  from {
    margin-top: 70px;
  }

  to {
    margin-top: 0px;
  }
}

.irancell {
  height: 100%;
  width: 100%;
  background: #ffd439;
  display: none;
}
.irancell #irancell-header {
  position: relative;
  text-align: center;
  margin-top: -30px;
  z-index: 0;
}
.irancell #irancell-header img {
  margin: 0 auto;
}
.irancell #irancell-header .irancell-header-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  direction: rtl;
  font-size: 12px;
  color: #fff;
  -webkit-text-stroke: 0.2px #fff;
  transform: rotate(-15deg);
}

#container {
  min-height: 10vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  font-family: Iransans;
}

main {
  direction: rtl;
  padding: 5% 3%;
  padding-top: 0;
  margin-top: 20px;
  font-family: Iransans;
  text-align: center;
  z-index: 999999;
}

main p, main h4, main a {
  margin: 5px auto;
  color: #010101;
  position: relative;
  z-index: 999999;
  font-size: 14px;
}

main p, main a {
  font-weight: bold;
}
#offer{
  font-size: 13.2px;
}
.membership{
  width: 400px;
  background-color: #0067a5;
  color: #fff;
  border-radius: 5px;
  padding: 8px 0;
}
.inputSubmit {
  width: 360px;
  margin: 15px auto;
  padding: 0;
  direction: ltr;
  position: relative;
  z-index: 99999;
}
.inputSubmit input {
  font-size: 14px;
  background-color: rgba(0,0,0,0);
  font-weight: bold;
  font-family: Iransans;
  color: #000;
  border: 2px solid #000;
  border-radius: 60px;
  display: block;
  width: 100%;
  padding: 7px;
  text-align: center;
  letter-spacing: 3px;
  position: relative;
  z-index: 99999;
}
.inputSubmit input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #464646;
  opacity: 1;
  /* Firefox */
  letter-spacing: 4px;
}
.inputSubmit input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #464646;
  letter-spacing: 4px;
}
.inputSubmit input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #464646;
  letter-spacing: 4px;
}
.inputSubmit .btn {
  font-family: Iransans;
  background-color: #a793d5;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 60px;
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 7px;
  letter-spacing: normal;
  position: relative;
  z-index: 999999;
  cursor: pointer;
}

.signup{
  display: none;
}

.submit {
  -webkit-animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
	        animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-7-7 13:35:4
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  10%,
  20%,
  30% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  40% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  45% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  5%,
  15%,
  25%,
  35% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  10%,
  20%,
  30% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  40% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  45% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.progress-container {
  width: 400px;
  margin: 15px auto;
  text-align: center;
  direction: rtl;
  position: relative;
}
.progress-container .progress {
  display: inline-block;
  color: #010101;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  width: 31%;
  position: relative;
  z-index: 9999;
}
.progress-container .progress:before {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  color: #010101;
  background: transparent;
  border: 1px solid #010101;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  position: relative;
  z-index: 99999;
}
.progress-container .progress:after {
  content: "";
  width: 90%;
  height: 1px;
  background: #010101;
  position: absolute;
  left: -47%;
  top: 7px;
  z-index: 0;
  /*put it behind the numbers*/
}
.progress-container .progress:last-child:after {
  /*connector not needed before the first step*/
  content: none;
}
.progress-container .progress.active:before, .progress-container .progress #progressbar li.active:after {
  background: #010101;
}

#seccessBtn, #downloadBtn {
  border: none;
  display: block;
  width: 400px;
  margin: 10px auto;
  border-radius: 25px;
  padding: 7px;
  font-size: 14px;
  font-family: Iransans;
  font-weight: bold;
  text-decoration: none;
}

#seccessBtn {
  background-color: #00a551;
  color: #fff;
}

#downloadBtn {
  background-color: #2886f7;
  color: #fff;
}

.text-danger {
  color: red;
  font-size: 12px;
}

#divProcessing {
  margin: 0;
  margin-top: 10px;
}

#divProcessing .load-spn {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

#divProcessing #text {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #010101;
}

#divProcessing #spn1 {
  animation: load linear 0.9s infinite;
}

#divProcessing #spn2 {
  animation: load linear 0.9s 0.3s infinite;
}

#divProcessing #spn3 {
  animation: load linear 0.9s 0.6s infinite;
  -webkit-animation: load linear 0.9s 0.6s infinite;
}

@keyframes load {
  0% {
    width: 10px;
    height: 10px;
    background-color: #95bff2;
  }
  25% {
    background-color: #074085;
    width: 11px;
    height: 11px;
  }
  50% {
    background-color: #2886f7;
    width: 12px;
    height: 12px;
  }
  75% {
    background-color: #074085;
    width: 11px;
    height: 11px;
  }
  100% {
    background-color: #95bff2;
    width: 10px;
    height: 10px;
  }
}
@-webkit-keyframes load {
  0% {
    width: 10px;
    height: 10px;
    background-color: #95bff2;
  }
  25% {
    background-color: #074085;
    width: 11px;
    height: 11px;
  }
  50% {
    background-color: #2886f7;
    width: 12px;
    height: 12px;
  }
  75% {
    background-color: #074085;
    width: 11px;
    height: 11px;
  }
  100% {
    background-color: #95bff2;
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 960px) {
  main p, main h4, .inputSubmit .btn, main a, #seccessBtn, #downloadBtn {
    font-size: 12px;
  }
  #offer{
    font-size: 11.2px;
  }
  .progress-container .progress {
    font-size: 10px;
  }
}
@media only screen and (max-width: 568px) {
  #container {
    width: 100%;
    margin: 0;
    height: auto;
  }
  #container .content #seccessBtn, #container .content #downloadBtn, #container .content .inputSubmit, #container .content .progress-container {
    width: 90%;
    margin: 15px auto;
  }
  #container .membership {
    width: 100%;
    padding: 5px 0;
  }
  #container .content main {
    padding: 3%;
    padding-top: 0;
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  #container {
    width: 100%;
    margin: 0;
    height: auto;
  }
  #container .progress-container {
    width: 90%;
    margin: 15px 5%;
  }
  #header .gif{
    width: 240px;
  }
  #header p{
    font-size: 1.4em;
  }

}
@media only screen and (max-width: 320px) {

  #header .gif{
    width: 250px;
  }

}
@media only screen and (max-width: 313px) {

  #header .counter{
    width: 100%;
  }

}